<% content_for(:title, "comment board") %>
<h1><%= @user.name %></h1>
<p><%= @user.name %> the email on file is <%= @user.email %></p>
<h3>put user details here</h3>

<p><%= link_to "edit", edit_user_path(@user) %> </p>
<p><%= link_to "delete", user_path(@user),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %> </p>

<p><%= link_to "return to users", users_path %></p>

<hr>
<h2>message board</h2>
<% if @comments.any? %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.text %> |
        <%= comment.user.name %> |
        <%= time_ago_in_words(comment.created_at) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>no comments yet</h3>
<% end %>

<p><%= link_to "add comment", new_user_comment_path(@user)%></p>
